<div class='container'>

<!--   <% #if @user.surveys.length > 0 %>
    <table>
      <tr>
        <%# @user.surveys.all.each do |survey| %>
          <td><%=# survey.title %></td>
          <td><a href='surveys/<%=# survey.id %>/edit'>Edit Survey</a></td>
          <td><a href='surveys/<%=# survey.id %>/results'>View Results</a></td>
        <% #end %>
      </tr>
    </table>
  <%# else %>
    <h3>You haven't created any surveys yet!</h3>
  <%# end %>



   <%# if @user.completions.length > 0 %>
    <table>
      <tr>
        <%# @user.completions.all.each do |completion| %>
          <td><%=# completion.title %></td>
          <td><a href='completions/<%=# completion.id %>/results'>View Results</a></td>
        <%# end %>
      </tr>
    </table>
  <%# else %>
    <h3>You haven't completed any surveys yet!</h3>
  <%# end %> -->

</div>

