<h3><%= @survey.title %></h3>

<ol>
	<% @questions.each do |question| %>
		<form method="POST" action="/surveys/<%= @survey.id %>/complete">
			<li><%= question.text %></li>
					<% question.choices.each do |choice| %>
						<input type="radio" name="choices[<%= question.id %>]" value=<%= choice.id %>><%= choice.text %><br>
					<% end %>
	      <br>
		<% end %>
  		<input type="submit" value="Submit">
  		</form>
</ol>

