<p><%= @survey.title %></p>

<ol>
	<% @questions.each do |question| %>
		<li><%= question.text %></li>
			<form method="POST" action="/surveys/<%= @survey.id %>/complete">
				<% question.choices.each do |choice| %>
					<input type="radio" name="choices[]" value=<%= choice.id %>><%= choice.text %><br>
				<% end %>
                <br><input type="submit" value="submit">
			</form>
	<% end %>
</ol>

